@media (max-width:575px){
    .menu-bg ul li{
        padding: 10px 0;
    }
    .menu-bg button{
        border: 4px solid red;
    }
    .menu-bg .navbar-toggler i{
        color: red;
        font-size: 30px;
    }
    .banner_text h2{
        font-size: 30px;
        font-weight: 600;
    }
    .banner_text p{
        font-size: 14px;
        font-weight: 400;
    }
    .banner_img img{
        width: 100%;
    }
    .icone_text h4{
        font-size: 25px;
        font-weight: 600;
    }
    .heading_text h2{
        font-size: 30px;
        font-weight: 600;
    }
    .story_text h3{
        font-size: 25px;
        font-weight: 600;
    }
    .story_img img{
        width: 100%;
    }
    .img_img img{
        width: 100%;
    }
    .img_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .logo_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .logo_img img{
        width: 100%;
    }
    .view_img img{
        width: 100%;
    }
    .view_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .how_text h3{
        font-size: 25px;
        font-weight: 600;
    }
    .how_two h3{
        font-size: 20px;
        font-weight: 600;
    }
    .footer_text p{
        font-size: 14px;
        font-weight: 400;
    }
    .footer_icone h2{
        font-size: 30px;
        font-weight: 600;
    }
    .footer_icone p{
        font-size: 14px;
        font-weight: 400;
    }
    .menu_text h6{
        font-size: 14px;
        font-weight: 500;
    }
    .menu_men ul li{
        margin-top: -30px;
        margin-left: 8px;
    }
    .menu_men ul li a{
        font-size: 14px;
        font-weight: 500;
    }
}
@media (min-width:576px) and (max-width:767px){
    .menu-bg ul li{
        padding: 10px 0;
    }
    .menu-bg button{
        border: 4px solid red;
    }
    .menu-bg .navbar-toggler i{
        color: red;
        font-size: 30px;
    }
    .banner_text h2{
        font-size: 30px;
        font-weight: 600;
    }
    .banner_text p{
        font-size: 14px;
        font-weight: 400;
    }
    .banner_img img{
        width: 100%;
    }
    .icone_text h4{
        font-size: 25px;
        font-weight: 600;
    }
    .heading_text h2{
        font-size: 30px;
        font-weight: 600;
    }
    .story_text h3{
        font-size: 25px;
        font-weight: 600;
    }
    .story_img img{
        width: 100%;
    }
    .img_img img{
        width: 100%;
    }
    .img_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .logo_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .logo_img img{
        width: 100%;
    }
    .view_img img{
        width: 100%;
    }
    .view_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .how_text h3{
        font-size: 25px;
        font-weight: 600;
    }
    .how_two h3{
        font-size: 20px;
        font-weight: 600;
    }
    .footer_text p{
        font-size: 14px;
        font-weight: 400;
    }
    .footer_icone h2{
        font-size: 30px;
        font-weight: 600;
    }
    .footer_icone p{
        font-size: 14px;
        font-weight: 400;
    }
    .menu_text h6{
        font-size: 14px;
        font-weight: 500;
    }
    .menu_men ul li{
        margin-top: -30px;
        margin-left: 8px;
    }
    .menu_men ul li a{
        font-size: 14px;
        font-weight: 500;
    }
}
@media (min-width:768px) and (max-width:991px){
    .menu-bg ul li{
        padding: 10px 0;
    }
    .menu-bg button{
        border: 4px solid red;
    }
    .menu-bg .navbar-toggler i{
        color: red;
        font-size: 30px;
    }
    .banner_text h2{
        font-size: 30px;
        font-weight: 600;
    }
    .banner_text p{
        font-size: 14px;
        font-weight: 400;
    }
    .banner_img img{
        width: 100%;
    }
    .icone_text h4{
        font-size: 25px;
        font-weight: 600;
    }
    .heading_text h2{
        font-size: 30px;
        font-weight: 600;
    }
    .story_text h3{
        font-size: 25px;
        font-weight: 600;
    }
    .story_img img{
        width: 100%;
    }
    .img_img img{
        width: 100%;
    }
    .img_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .logo_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .logo_img img{
        width: 100%;
    }
    .view_img img{
        width: 100%;
    }
    .view_text h3{
        font-size: 30px;
        font-weight: 600;
    }
    .how_text h3{
        font-size: 25px;
        font-weight: 600;
    }
    .how_two h3{
        font-size: 20px;
        font-weight: 600;
    }
    .footer_text p{
        font-size: 14px;
        font-weight: 400;
    }
    .footer_icone h2{
        font-size: 30px;
        font-weight: 600;
    }
    .footer_icone p{
        font-size: 14px;
        font-weight: 400;
    }
    .menu_text h6{
        font-size: 14px;
        font-weight: 500;
    }
    .menu_men ul li{
        margin-top: -30px;
        margin-left: 8px;
    }
    .menu_men ul li a{
        font-size: 14px;
        font-weight: 500;
    }
}